body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    gap: 20px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.addButton{
    display: block;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #a09500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.totMissionCompleted{
    display: block;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #015e49;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
}